.body {
    min-height: 100vh;
    width: 100vw;
}

aside {
    width: 5%;
    display: inline-block;
    background: linear-gradient(180deg, #1E0074 0%, rgba(119, 67, 187, 0.8) 100%);
    height: 100vh;
    position: fixed;
    border-radius: 5px;
}

.icones {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    position: fixed;
    width: 5%;
}

.icone-user {
    margin-bottom: auto;
    margin-top: 10px;
}

.icone-pesquisar {
    margin-bottom: 30px;
}

.icone-home {
    margin-bottom: 30px;
}

.icone-assistir {
    margin-bottom: 30px;
}

.icone-config {
    margin-top: auto;
    margin-bottom: 20px;
}

.container-return {
    position: relative;
    width: 100%;
}

.return {
    background-color: transparent;
    border: #DFD3FF solid 1px;
    color: #DFD3FF;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    height: 35px;
    width: 35px;
}

button:hover {
    opacity: 0.8;
}

section {
    display: inline-block;
    width: 95%;
    margin-top: 15px;
    height: 100vh;
    margin-left: 80px;
}

.banner {
    display: inline-block;
}

.information {
    display: inline-block;
    width: 600px;
    margin-left: 32px;
    margin-top: 50px;
}

.img-secondPage {
    height: 280px;
    border-radius: 24px;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

h3 {
    color: #DFD3FF;
    font-size: 20px;
    margin-bottom: 15px;
}

h4 {
    color: #ffffff;
    font-weight: lighter;
    margin-bottom: 16px;
    font-size: 16px;
}

.autor {
    margin-top: 10px;
    color: #DFD3FF;
}